@import '../../../styles/abstracts/colors';
.margin_top {
    margin-top: 16px;
}

.margin_bottom {
    margin-bottom: 16px;
}

.margin_to_button {
    margin-bottom: 2rem;
}

.statusMsg {
    font-size: 14px;
    color: $error;
}

.error {
    color: #f44336;
    font-size: 14px;
    margin-top: 8px;
}