@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px #9999999c;
    padding: 8px;
    .infoUser,
    .dateContainer {
        flex: 1;
    }
    .infoUser {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid $gray_3;
        margin-right: 8px;
        padding-right: 8px;
    }
    .dateContainer {
        .date {
            font-size: 12px;
            color: $gray_3;
        }
        .start {
            margin-bottom: 8px;
        }
        p {
            font-size: 12px;
            color: $gray_2;
            line-height: 1.5;
        }
    }
}