.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    justify-content: center;
    margin-bottom: 16px;
}

.horizontal {
    @media (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
    }
}