@import '../../../styles/abstracts/colors';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    width: 84px;
    border-radius: 28px;
    border: 2px solid $gray_5;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background: $white;
    
    &:hover {
        border-color: $gray_4;
    }
    
    .arrow {
        color: $gray_3;
        font-size: 18px !important;
        margin-left: 4px;
        transition: transform 0.3s ease-in-out;
    }
    
    .arrowOpen {
        transform: rotate(180deg);
    }
}