@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    min-width: 70px;
    max-width: 75px;
    border-radius: 4px;
    border: 1px solid $gray_3;
}