@import '../../../styles/abstracts/colors';
@import '../../../styles/abstracts/breakpoints';

.row_fields {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    
    @include respond-up(md) {
        gap: 1.25rem;
    }
    
    // Make both fields equal width
    > div {
        flex: 1;
    }
}