@import '../../../styles/abstracts/colors';
.container {
    min-width: 320px;
    max-width: 550px;
    margin: 0 auto;
    .subtitle {
        margin-bottom: 32px;
    }
    .empty {
        color: $primary;
        margin-bottom: 16px;
    }
}