@import './fonts';
@import '../abstracts/colors';
html,
body {
    padding: 0;
    margin: 0;
    color: $black_3;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'HKGroteska', sans-serif;
    margin-bottom: 16px;
}

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 35.2px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

a {
    color: inherit;
    text-decoration: none;
}