@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@font-face {
    font-family: 'HKGroteska';
    src: url('/fonts/HKGroteska/HKGrotesk-Bold.ttf');
    src: url('/fonts/HKGroteska/HKGrotesk-Regular.ttf');
}