@import '../../../styles/abstracts/colors';
.container {
    width: 100%;
    min-width: calc(100vw - 64px);
    border-radius: 10px;
    section {
        position: relative;
        display: flex;
        div {
            flex: 1;
            p {
                text-transform: capitalize;
            }
            .top_label {
                font-size: 12px;
                color: $gray_3;
                margin-top: 6px;
                height: 22px;
            }
        }
        .end_date {
            border-left: 1px solid $gray_4;
            text-align: right;
        }
    }
}

.container_full {
    height: 230px;
    max-height: 230px;
    padding: 16px;
    background: linear-gradient(#f3f7fbb3, #fdfdfdcc);
    box-shadow: 4px 8px 16px #b8c0c6;
    section {
        height: 55px;
        margin: 16px 0;
        div {
            p {
                // &:nth-child(1) {
                //   font-size: 12px;
                //   color: $gray_3;
                //   margin-top: 6px;
                //   height: 22px;
                // }
                &:nth-child(2) {
                    font-size: 14px;
                    color: $gray_2;
                    margin-bottom: 6px;
                    span {
                        &:nth-child(2) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.container_compact {
    section {
        padding: 0 8px 8px;
        div {
            p {
                font-size: 16px;
                color: $gray_2;
            }
        }
    }
}

.container_border {
    border: 1px solid $gray_3;
}

.margin_bottom {
    margin-bottom: 32px;
}