@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 850px;
    border-radius: 10px;
    @media (min-width: 720px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
}

.container_full {
    height: 230px;
    max-height: 230px;
    padding: 16px;
    background: linear-gradient(#f3f7fbb3, #fdfdfdcc);
    box-shadow: 4px 8px 16px #b8c0c6;
    @media (min-width: 720px) {
        height: 72px;
    }
}

.action {
    @media (min-width: 720px) {
        min-width: 200px !important;
    }
}

.container_border {
    border: 1px solid $gray_3;
}

.margin_bottom {
    margin-bottom: 32px;
}