@import '../../../styles/abstracts/colors';
.panel {
    display: none;
    min-width: 400px;
    min-height: 100px;
    height: fit-content;
    max-height: 510px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #9999996b;
    margin: 32px 64px;
    z-index: 9999;
    padding: 32px;
    @media (min-width: 720px) {
        display: block;
    }
    .price {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 32px;
        span {
            font-size: 1rem;
            font-weight: normal;
        }
    }
    .contentPrice {
        display: flex;
        gap: 0 16px;
    }
    .discount {
        margin-bottom: 0;
    }
    .old {
        font-size: 1rem;
        text-decoration: line-through;
    }
    .msgDiscount {
        font-size: 0.9rem;
        color: $success;
    }
}