@import '../../../styles/abstracts/breakpoints';

.layout {
    display: grid;
    gap: 12px;
}

.small {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.large {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
}

.container {
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gridItem {
    flex: 1 1 140px;
    max-width: 180px;
    min-width: 130px;
    
    @include respond-up(md) {
        flex-basis: 150px;
    }
}

.full_width {
    .grid {
        // ... existing code ...
    }
}