@import '../../../styles/abstracts/colors';
.card {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: $gray_6;
    border-radius: 10px;
    margin-bottom: 16px;
    overflow: hidden;
    .image {
        position: relative;
        flex: 1;
        min-height: 150px;
        background-color: $gray_5;
        .fav {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 998;
        }
    }
    .info {
        flex: 1;
        max-width: 100%;
        padding: 8px;
        h6 {
            text-transform: capitalize;
            font-size: 16px;
        }
        .bottom {
            display: flex;
            font-size: 1rem;
            div {
                flex: 0.6;
                display: flex;
                align-items: center;
                p {
                    span {
                        font-size: 0.8rem;
                    }
                }
            }
            .price {
                flex: 1;
                text-align: right;
                font-weight: bold;
                span {
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
}