@import '../../../styles/abstracts/colors';
.container {
    .title {
        font-size: 2.5rem;
        margin-bottom: 8px;
        color: $primary;
    }

    .subtitle {
        font-size: 1.2rem;
        color: $gray_2;
        margin-bottom: 32px;
    }

    .header {
        margin-bottom: 32px;
        display: none;
        @media (min-width: 720px) {
            display: flex;
            justify-content: space-between;
            gap: 32px;
        }
        .logo,
        .avatar {
            display: none;
            @media (min-width: 720px) {
                position: relative;
                cursor: pointer;
                display: block;
            }
            .menuDesktop {
                display: none;
                @media (min-width: 720px) {
                    position: absolute;
                    top: 72px;
                    right: 0;
                    display: block;
                    background-color: #fff;
                    border-radius: 10px;
                    min-width: 200px;
                    box-shadow: 10px 10px 20px #9999996b;
                    z-index: 9999;
                    &::after {
                        border-top: 16px solid transparent;
                        border-right: 16px solid transparent;
                        border-bottom: 16px solid #fff;
                        border-left: 16px solid transparent;
                        overflow: hidden;
                        content: '';
                        right: 10px;
                        position: absolute;
                        top: 0;
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }
    .content {
        @media (min-width: 720px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
            .requests {
                grid-column: 1 / 3;
            }
            .stats {
                grid-column: 1 / 2;
                border-right: 1px solid $gray_4;
                padding-right: 32px;
            }
            .trips {
                grid-column: 2 / 3;
            }
        }
        .upcoming {
            display: flex;
            align-items: center;
            color: $primary_hover;
            min-height: 200px;
            .upcomingIcon {
                margin-right: 16px;
                font-size: 2rem;
            }
        }
    }
}