@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    gap: 16px;
}

.withPadding {
    padding: 0 32px 64px;
}

.withBackground {
    background-color: $background;
}

.withMarginTop {
    margin-top: 32px;
}