@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    gap: 16px;
}

.withPadding {
    padding: 0 32px 64px;
    @media (min-width: 720px) {
        padding: 0 100px 64px;
    }
}

.withBackground {
    background-color: $background;
}

.withMarginTop {
    margin-top: 32px;
}

.affirmativeButton {
    background-color: $primary !important;
    
    &:hover {
        background-color: $primary_hover !important;
    }
}