@import '../../../styles/abstracts/colors';

.wrapper {
    margin-top: 16px;
    
    label {
        font-weight: 600;
        font-size: 16px;
        color: $gray_1;
        margin-bottom: 8px;
        display: block;
        text-transform: none;
    }
    
    .container {
        display: flex;
        margin-top: 8px;
        
        .wrap_phone_field {
            flex: 1;
            display: flex;
            border-radius: 28px;
            border: 2px solid $gray_5;
            padding-left: 20px;
            background: $white;
            transition: all 0.25s ease-in-out;
            
            &:focus-within {
                border: 2px solid $primary !important;
                box-shadow: 0 0 0 3px rgba(8, 29, 61, 0.1);
            }
            
            &:hover:not(:focus-within) {
                border-color: $gray_4;
            }
            
            span {
                align-self: center;
                color: $gray_3;
                font-weight: 500;
            }
            
            .input {
                width: 100%;
                height: 55px;
                background-color: transparent;
                font-size: 16px;
                font-weight: 400;
                color: $black_2;
                padding-left: 8px;
                padding-right: 16px;
                outline: 0;
                border: 0;
                border-radius: 28px;
                
                &::placeholder {
                    color: $gray_3;
                    font-weight: 400;
                }
                
                &:invalid {
                    border: none;
                }
                
                &:disabled {
                    background-color: $gray_6;
                    color: $gray_3;
                    cursor: not-allowed;
                }
            }
            
            .input_bold {
                font-weight: 600;
            }
        }
        
        .wrap_margin {
            margin-left: 8px;
        }
    }
}

.marginBottom {
    margin-bottom: 16px;
}