@import '../../../styles/abstracts/colors';
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 16px;
    min-width: 200px;
    box-shadow: $shadow-drop;
    .fav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        &:hover {
            cursor: pointer;
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 100%;
        background-color: $background;
        z-index: 99;
        border-radius: inherit;
        overflow: hidden;
        .overlay {
            position: absolute;
            background-color: $background;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        .image {
            flex: 1;
            position: relative;
            min-height: 150px;
            background-color: $gray_5;
            @media (min-width: 720px) {
                flex: 0.4;
            }
        }
        .info {
            flex: 1;
            max-width: 100%;
            padding: 16px;
            @media (min-width: 720px) {
                flex: 0.6;
            }
            .title {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                @media (min-width: 720px) {
                    margin-bottom: 8px;
                }
                h6 {
                    margin: 0;
                    margin-right: 8px;
                    text-transform: capitalize;
                    font-size: 16px;
                }
            }
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1rem;
                @media (min-width: 720px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .stats {
                    flex: 0.6;
                    display: flex;
                    align-items: center;
                    .counts {
                        font-size: 1rem;
                        margin-left: 4px;
                        display: inline-block;
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
                .description {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 4px 0 8px;
                    font-size: 0.9rem;
                    line-height: 1.2;
                }
                .price,
                .basePrice {
                    text-align: right;
                }
                .price {
                    flex: 1;
                    font-weight: bold;
                    span {
                        font-weight: normal;
                        font-size: 12px;
                    }
                }
                .extraInfo {
                    display: flex;
                    @media (min-width: 720px) {
                        justify-content: space-between;
                        width: 100%;
                    }
                    section {
                        display: flex;
                        gap: 8px;
                        p {
                            font-size: 0.9rem;
                            margin-left: 6px;
                        }
                        .mid {
                            border-left: 1px solid $gray_4;
                            border-right: 1px solid $gray_4;
                        }
                        div {
                            display: flex;
                            align-items: center;
                            padding: 0 16px;
                        }
                        .firstFeat {
                            padding-left: 0;
                        }
                    }
                }
            }
            .discount {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                span {
                    color: $gray_3;
                    margin-right: 8px;
                    font-size: 0.9rem;
                }
                .basePrice {
                    color: $gray_3;
                    font-size: 0.9rem;
                    text-decoration: line-through;
                }
            }
        }
    }
    .rowDir {
        @media (min-width: 720px) {
            flex-direction: row;
        }
    }
}

.limitHeight {
    @media (min-width: 720px) {
        max-height: 192px;
        min-width: 100%;
    }
}

.extraMargin {
    margin-bottom: 64px;
}

.extraLabel {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% + 24px);
    width: 100%;
    color: $white;
    background-color: $primary;
    border-radius: inherit;
    p {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 0 4px;
    }
}

.extraSpacing {
    border: 0.11rem solid $primary;
}

.labelBorderRed {
    border-color: $secondary;
}

.labelBackgroundRed {
    background-color: $secondary;
}

.labelBorderGreen {
    border-color: $success;
}

.labelBackgroundGreen {
    background-color: $success;
}

.labelBorderYellow {
    border-color: $warning;
}

.labelBackgroundYellow {
    background-color: $warning;
}