.container {
    @media (min-width: 720px) {
        min-width: 320px;
        max-width: 420px;
        margin: auto;
    }
    .content {
        margin-bottom: 64px;
    }
    
    .helper {
        margin-bottom: 32px;
    }
}
