@import '../../../styles/abstracts/colors';
.container {
    border: 1px solid $primary;
    border-radius: 4px;
    color: $primary;
    height: 55px;
    width: 100%;
    overflow: hidden;
    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin-left: 8px;
        }
    }
}