@import '../../../styles/abstracts/colors';
.baseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    padding: 8px 16px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg {
        margin-right: 14px;
    }
}

.primaryButton {
    background: linear-gradient(to right, $primary, $primary_alt);
    color: $white;
    &:hover {
        background: linear-gradient(to right, $primary, $primary_hover);
    }
}

.sencondaryButton {
    background-color: transparent !important;
    border: 3px solid $secondary;
    color: $secondary;
    &:hover {
        border-color: $secondary_hover;
    }
}

.invertButton {
    background: transparent !important;
    border: 3px solid $primary;
    color: $primary;
    &:hover {
        border-color: $primary_hover;
    }
}

.rejectButton {
    background: $gray_4;
    color: $gray_2;
}

.margin_top {
    margin-top: 32px;
}

.margin_bottom {
    margin-bottom: 32px;
}

.tinyBorder {
    border-width: 1px;
    font-weight: normal;
}

.withTinyMarginBottom {
    margin-bottom: 16px;
}

.customDisabled {
    opacity: 0.6;
}