@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    // position: sticky;
    // bottom: 0;
    padding: 8px 16px;
    min-height: 70px;
    max-height: 70px;
    background-color: $background;
    box-shadow: 0 -4px 20px #99999999;
    @media (min-width: 720px) {
        display: none;
    }
    .price {
        flex: 0.5;
        p {
            &:first-child {
                font-weight: bold;
                span {
                    font-size: 16px;
                }
            }
            &:last-child {
                font-size: 14px;
                color: $gray_3;
            }
        }
    }
    .button {
        flex: 0.5;
        margin-left: 16px;
    }
}