@import '../../../styles/abstracts/colors';
.wrapper {
    padding-bottom: 100px;
    background-color: $background;
    @media (min-width: 720px) {
        padding: 0;
    }
    .nav {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}