@import '../../../styles/abstracts/colors';
.mobileNav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 8px 16px;
    bottom: 0;
    min-width: 100%;
    min-height: 55px;
    max-height: 55px;
    background-color: $background;
    box-shadow: 0 -4px 20px #99999999;
    z-index: 9999;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: 72px;
        p {
            font-size: 14px;
            line-height: 14px;
            margin-top: 4px;
            color: $gray_3;
        }
    }
}