@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .names {
        font-size: 12px;
        font-weight: 1000;
        color: $black_1;
    }
    h6 {
        margin-bottom: 0px;
        font-size: 12px;
    }
}