@import '../../../styles/abstracts/colors';
.container {
    div {
        display: flex;
        justify-content: space-between;
    }
    .total {
        padding-top: 8px;
        p {
            font-size: 22px;
            font-weight: bold;
            color: $gray_2;
        }
    }
    .discount {
        color: $success;
    }
}

.margin {
    margin: 32px 0 16px;
}