@import '../../../styles/abstracts/colors';
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(8, 12, 65, 0.37);
    z-index: 998;
    .overlay {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background;
        height: fit-content;
        max-width: 350px;
        width: 100%;
        border-radius: 10px;
        z-index: 999;
        padding: 16px 32px 55px 32px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        h6 {
            border-bottom: 1px solid $gray_4;
            color: $primary;
            padding-bottom: 16px;
        }
        h6,
        p {
            text-align: center;
        }
        p {
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 32px;
        }
        .button {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}