@import '../../../styles/abstracts/colors';
.description {
    // font-size: 16px;
    // line-height: 1.5;
}

.title_edit {
    display: flex;
    justify-content: space-between;
    a {
        color: $gray_3;
    }
    // border: 1px solid red;
}