$primary: #070d9a;
$primary_hover: #060a80;
$secondary: #ff3333;
$secondary_hover: #b82222;
$background: #e7ecf3;
$info: #0267ff;
$success: #00b349;
$warning: #ffb302;
$error: #df0611;
$black_1: #000000;
$black_2: #1d1d1d;
$black_3: #282828;
$gray_1: #333333;
$gray_2: #4f4f4f;
$gray_3: #828282;
$gray_4: #bdbdbd;
$gray_5: #e0e0e0;
$gray_6: #f2f2f2;
$white: #ffffff;
$primary_alt: #0d15dc;