@import '../../../styles/abstracts/colors';
.container {
    display: flex;
    max-width: 100%;
    min-height: 112px;
    max-height: 150px;
    border-radius: 10px;
    border: 1px solid $gray_2;
    cursor: pointer;
    overflow: hidden;
    input {
        display: none;
    }
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .uploading {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .loading {
        opacity: 0.6;
    }
}

.without_image {
    border: 1px solid $primary;
    justify-content: center;
    align-items: center;
}