.container {
    min-width: 290px;
    max-width: 550px;
    margin: auto;
}

.alternative {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.media {
    display: flex;
    gap: 16px;
}