.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    opacity: 0.7;
    width: 100vw;
    z-index: 99999;
}