@import '../../../styles/abstracts/colors';
.scrollIndicator {
    display: none;
}

.carousel {
    min-height: 200px;
    max-height: 100vw;
    background-color: $white;
    .noSrcMessage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary;
    }
    @media (min-width: 720px) {
        .slide {
            position: relative;
            height: 100vh;
            max-height: 100vh;
            .image {
                object-fit: fill;
            }
        }
    }
}

@media (min-width: 720px) {
    .scrollIndicator {
        display: block;
        position: absolute;
        top: 90vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 998;
    }
}